.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.upperDiv{
    width: 100%;
    max-width: 650px;
    flex-direction: column;
    text-align: center;
    padding: 1em 0;
}

.bottomDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E7E7E7;
    padding: 1% 1%;
    border-radius: 10%;
}