.serviceText{
    color: 'white';
    padding: 2em 0;
    max-width: 400px;
}

.serviceText h2{
    background: linear-gradient(322.81deg, #0054D1 11.97%, #4FA7FF 93.43%);
    background-clip: text;
    color: transparent;
}

.text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

.welcometext {
    color: gray;
    font-size: 12px;
}

.imgdiv {
    height: 300px;
    width: 249px;
    border-radius: 15px;   
}

.img {
    height: 300px;
    width: 229px;
    position:absolute;  
}

.subimg_div {
    background-color: white;
    margin-top: 140px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-left: -5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img_div {
    background-color: #c0dffd;
    height: 40px;
    display: flex;
    align-items: center;
    width: 40px;
    margin: 10px;
    border-radius: 20px; 
}

.texts1 {
    margin-left: 40px;
    font-size: 10px;
    margin-top: -24px;
}

.texts {
    margin-left: 40px;
    font-size: 10px;
    width: 150px;
    margin-top: 5px;
}

.spandiv {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.line {
    border: 0.5px solid rgb(63, 59, 59);
    margin-top: 15px;
    width: 140px;
}

.imgs {
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .services{
        justify-content: space-between;
    }
}